@import url("https://fonts.googleapis.com/css2?family=Anek+Latin&family=Kanit:wght@100&display=swap"); 

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  font-weight: 1000;
}

.App {
  min-height: 100vh;
  background-color: #059FCB;
  padding: .5em;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.big-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

#header {
  text-align: center;
}

.container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(2.4, 23.9, 29.8, 0.5);
  border-radius: 50px;
  padding: 1em 1em;
  gap: 1.5em;
  box-shadow: 2px 5px 9px 1px #302f2f;
  color: white;
  margin-top: 1em;
  width: 600px;
  
}

/* .mood-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .mood-selectors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.mood-selectors {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 1.5em;
  border: 1px solid black;
  padding: 2em 2em;
  border-radius: 100px;
  background-color: rgba(2.4, 23.9, 29.8, 0.5);
  color: #fff; 
  box-shadow: 2px 5px 9px 1px #302f2f;
} */

.mood-selector {
  /* padding-left: 1em; */
  max-width: 100%;
}

.mood-btns {
  display: block;
  width: 7em;
  padding: .5em;
  font-size: 1.2em;;
 
}

.mood-btns:hover {
  background-color: #185465;
}

.clicked {
  background-color: #185465; 
  width: 7em;
  font-size: 1.2em;
  padding: .5em;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 85vw; 
  }

  .mood-btns {
    font-size: 3.5vw;
    max-width: 20vw;
  }

  .clicked {
    max-width: 20vw; 
    font-size: 3.5vw;
  }

  /* #header {
    font-size: 6vw;
  } */
}

.btn {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;  
}

button {
  background-color: #467F8F;
  color: #fff; 
  padding: .7em .7em;
  border: none;
  border-radius: 100px;
  transform: .2s;
  cursor: pointer;
}

button:hover {
  background-color: #185465; 
}

.added-items {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  gap: .3em;
  font-size: 1.5em;
}

img {
  max-width: 100%; 
  box-shadow: 2px 2px 15px 1px #444343;
}